@font-face {
  font-family: 'Portfolio';
  src: url('../fonts/portfolio/pncs-webfont.eot');
  src: url('../fonts/portfolio/pncs-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/portfolio/pncs-webfont.woff2') format('woff2'), url('../fonts/portfolio/pncs-webfont.woff') format('woff'), url('../fonts/portfolio/pncs-webfont.ttf') format('truetype'), url('../fonts/portfolio/pncs-webfont.svg#pncsbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
